@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');


.hcontainer{
    position: relative;
  text-align: center;
  color: white;
.himg{
width: 100%;
height:100%;

img{
    width: 100%;
    object-fit: contain;
}
}
.maintxt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 ,h3{
    text-shadow: 0px 0px 30px rgba(0,0,0, 75%);
    color:#fff;
    }
    h2{
        font-family: 'Playfair Display';
        font-size:60px;
        margin-bottom: 20px;
        padding-bottom:5px;
    }
    h3{
        font-family: 'Mulish';
        font-size: 30px;
    }
}
.card-img-overlay {
    background-color: rgba(#3F404E, 30%);
    width:100%;
    height:100%;
  }
.bottom-right {
    position: fixed;
    bottom: 20px;
    width:100%;
    z-index:99;
  }
}
@media screen and (max-width: 480px){
    .himg{
        width: 100%;
        height:100vh;
    }
        img{
            width: 100%;
           
        }
}